.header {
	max-width: 1184px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding-top: 28px;
	row-gap: 931px;
	margin: 0 auto;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
	.header{
max-width: 928px;
row-gap: 675px;
}
}	


@media screen and (max-width: 1023px) and (min-width: 768px) {
	.header{
max-width: 720px;
row-gap: 467px;
}
}	


@media screen and (max-width: 767px) and (min-width: 320px) {
	.header{
padding-top: 16px;
max-width: 288px;
row-gap: 84px;
}
}	