.place__url-heading {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 2px;
	color: #AAAAAA;
	margin-bottom: 12px;
	margin-top: 0;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
	.place__url-heading {
		max-width: 288px;
		}
}

